<script type="text/javascript">
  var currentTurnNumber = <%= Game.current.try(:current_turn_number) || 0 %>;
  var gamePieces = <%= JSON.pretty_generate( @game_data ).html_safe %>;
</script>

<% if !current_user %>

	<%= link_to 'Join This Game', '/auth/runkeeper' %>

<% elsif !current_user.playing_game?  %>

	<%= link_to 'Join This Game', new_player_path %>

<% else %>
  <div id="board">
    <div id="space0"></div>
    <% 26.times do |i| %>
      <div id="space<%= i + 1 %>" class="<%= Game.space_classes i %>"></div>
    <% end %>
  </div>

  <% @game_pieces.each do |game_piece| %>
    <div id="gp<%= game_piece.id %>" class="marker color<%= game_piece.color %>"><%= game_piece.name %></div>
  <% end %>

<% end %>